test.sh
/web/bundles/
/app/bootstrap*
/app/cache/*
/app/logs/*
/vendor/
/bin/
/app/config/parameters.yml
/app/config/parameters_shared.yml
/.idea/
/tmp/*
composer.lock
composer.phar
.kdev4
*.kdev4
build
