#!/usr/bin/env bash
env 'SYRUP_APP_NAME=syrup-devel' \
    'SYRUP_DATABASE_HOST=localhost'
    'SYRUP_DATABASE_USER=syrup' \
    'SYRUP_DATABASE_PASSWORD=syrup' \
    'SYRUP_DATABASE_NAME=syrup' \
    'SYRUP_DATABASE_PORT=3306' \
    'SYRUP_AWS_KEY=' \
    'SYRUP_AWS_SECRET=' \
    'SYRUP_AWS_REGION=' \
    'SYRUP_S3_BUCKET=' \
    'SYRUP_S3_BUCKET_LOGS_PATH=/log-files' \
    'SYRUP_ELASTICSEARCH_HOST=localhost:9200' \
    'SYRUP_SAPI_TEST_URL=' \
    'SYRUP_SAPI_TEST_TOKEN=' \
    'SYRUP_SQS_URL=' \
    bin/phpunit
