parameters:
    locale: en
    mailer_transport: smtp
    mailer_host: localhost
    mailer_user: null
    mailer_password: null
    pdo.db_options:
        db_table: sessions
        db_id_col: id
        db_data_col: value
        db_time_col: time

imports:
    - { resource: parameters_shared.yml }
    - { resource: parameters.yml }
    - { resource: security.yml }

framework:
    #esi:             ~
    #translator:      { fallback: "%locale%" }
    secret:          "%secret%"
    router:
        resource:     "%kernel.root_dir%/config/routing.yml"
        strict_requirements: ~
    form:             ~
    csrf_protection:  false
    validation:       { enable_annotations: true }
    templating:       { engines: ['twig'] } #assets_version: SomeVersionScheme
    default_locale:   "%locale%"
    session:          ~
    http_method_override: true
    session:
        handler_id: session.handler.pdo

doctrine:
    dbal:
        default_connection: default
        connections:
            default:
                driver:   %database_driver%
                host:     %database_host%
                port:     %database_port%
                dbname:   %database_name%
                user:     %database_user%
                password: %database_password%
                charset:  UTF8
                logging: false
                profiling: false
            syrup:
                driver:   %syrup.driver%
                host:     %syrup.host%
                port:     %syrup.port%
                dbname:   %syrup.name%
                user:     %syrup.user%
                password: %syrup.password%
                charset:  UTF8
                logging: false
                profiling: false
            lock:
                driver:   %locks_db.driver%
                host:     %locks_db.host%
                port:     %locks_db.port%
                dbname:   %locks_db.name%
                user:     %locks_db.user%
                password: %locks_db.password%
                charset:  UTF8
                logging: false
                profiling: false
    orm:
        default_entity_manager: ~
        entity_managers:
            default:
                connection: default
                auto_mapping: true

swiftmailer:
    transport: %mailer_transport%
    host:      %mailer_host%
    username:  %mailer_user%
    password:  %mailer_password%
    spool:     { type: memory }

twig:
    paths:
        "%kernel.root_dir%/../../../../Resources/views/Elasticsearch": elasticsearch
