parameters:
    app_name:          syrup

    database_driver:   pdo_mysql
    database_host:     localhost
    database_port:     ~
    database_name:
    database_user:
    database_password:

    # Session PDO handler table
    pdo.db_options:
        db_table:    session
        db_id_col:   id
        db_data_col: value
        db_time_col: time


	# Locks DB
    locks_db.driver:    pdo_mysql
    locks_db.host:      localhost
    locks_db.port:      ~
    locks_db.name:
    locks_db.user:
    locks_db.password:  

	# Mailer
    mailer_transport:  smtp
    mailer_host:       localhost
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

	# SAPI
    storage_api.url:        'https://connection.keboola.com'
    storage_api.test.url:
    storage_api.test.token:

	# Shared SAPI
    shared_sapi.url:
    shared_sapi.token:

	# AWS
    uploader:
	    aws-access-key:
	    aws-secret-key:
	    s3-upload-path:
	    bitly-login:
	    bitly-api-key:

	# Components
    components:
        ex-dummy:
            class:  Syrup\ComponentBundle\Component\DummyExtractor
