parameters:
    app_name:          syrup

    database_driver:   pdo_mysql
    database_host:     localhost
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       localhost
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    # deprecated
    storageApi.test.token:
    storageApi.url:         'https://connection.keboola.com'

    storage_api.url:        'https://connection.keboola.com'
    storage_api.test.url:
    storage_api.test.token:

    shared_sapi.url:
    shared_sapi.token:

    uploader:
	    aws-access-key:
	    aws-secret-key:
	    s3-upload-path:
	    bitly-login:
	    bitly-api-key:

    components:
        ex-dummy:
            class:  Syrup\ComponentBundle\Component\DummyExtractor
